body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    text-align: center;
    padding: 50px;
}
.container {
    background-color: #db95b7;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
label {
    display: inline-block;
    width: 150px;
    text-align: left;
}
input[type="number"] {
    padding: 5px;
    border: 2px solid #ccc;
    display: inline-block;
    margin-left: 50px;
    width: 100px;
}
input[type="text"] {
    padding: 5px;
    border: 2px solid #ccc;
    display: inline-block;
    width: 90px;
    margin: 0px 50px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 40px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
input[readonly] {
    background-color: #ffffd2;
    color: black;
}
label#kenny {
    margin-left: 100px;
}
label#huong {
    margin-left: 50px;
}
h1 {
    background-color: #c63768;
    margin: 0 0 10px 0;
    width: 450px;
    height: 60px;
    line-height: 60px;
    color: white;
    text-align: center;
}